</div>
	<div class="site_map">
		<div class="ui container">
    		<div class="ui grid">
    			<div class="six wide column">
        			<ul class="copyright" itemscope itemtype="http://schema.org/WebApplication">
        				<li itemprop="name"><span>phpMyBenchmarks</span>
        					<ul itemprop="featureList">
        						<li>php benchmarks</li>
        					</ul>
        				</li>
        				<li itemprop="browserRequirements">requires php 5.6, HTML5 support</li>
        				<li>OS : <span itemprop="operatingSystem">all</span></li>
        				<li>Catégorie : <span itemprop="applicationCategory">php tools</span></li>
                        <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <span itemprop="description">Free</span>
                            <meta itemprop="price" content="0" />
                            <meta itemprop="priceCurrency" content="USD" />
                        </li>
        			</ul>
    			</div>
        		<div class="ten wide column">
            			<ul>
            				<li class="copyright">kobject.net © 2008-2017 - <a
            					href="http://www.apache.org/licenses/LICENSE-2.0" target="_new">Apache
            						2 Licence</a></li>
            				<li class="copyright">Created with <a href="https://ubiquity.kobject.net/"
            					target="_new">Ubiquity</a> & <a href="index" target="_self">phpMv-UI</a></li>
            			</ul>
            	</div>
    		</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<script src="public/js/benchmarks.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>