@CHARSET "UTF-8";
.editor { 
	/*min-height: 100px;*/
	width: 100%;
}
.ui.segment.editor{
	background-color: #002B36;
}
.ui.label.fluid.basic.left.pointing{
	min-width: 180px;
}
.responseDiv{
	margin-top: 22px!important;
	height: calc(100% - 22px);
}
.responseResult{
	margin-top: 5px;
}
.pagehead {
	background-color: #1B1C1D;
	border-bottom: 1px solid #eee;
	margin: 0 0 1rem 0;
	position: relative;
}

#jumbotron{
	background-color: #F6F4F4;
	padding: 36px;
}
.ajax-loader{
	position:relative;
	display: block;
	margin: 0 auto;
	height: 66px;
	width: 66px;
}

.ui.popup{
	min-width: max-content!important;
}
.allButFooter {
    min-height: calc(100vh - 387px);
}
footer {
	right: 0;
	box-sizing: border-box;
	height: 300px;
	width:100%;
	perspective-origin: 950.5px 267.15625px;
	-webkit-perspective-origin: 950.5px 267.15625px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transform-origin: 950.5px 267.15625px;
	-webkit-transform-origin: 950.5px 267.15625px;
	background: #1B1C1D none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(24, 23, 27);
	outline: rgb(24, 23, 27) none 0px;
	padding: 30px 0px 0px;
	-webkit-border-after: 0px none rgb(24, 23, 27);
	-webkit-border-before: 0px none rgb(24, 23, 27);
	-webkit-border-end: 0px none rgb(24, 23, 27);
	-webkit-border-start: 0px none rgb(24, 23, 27);
	margin-top: 10px;
}
.copyright{
	color: #e5e3de;
	font-weight: 200;
}
.copyright a{
	color: #9e9e9e;
}
.sitemap ul{
	list-style-type: none;
	padding: 0;
}