<div class="ui container">
{{ q["h-name"] | raw }}
	<div class="ui styled fluid accordion">
		<div class="active title">
			<i class="icon dropdown"></i>
			Benchmark
		</div>
		<div class="active content">
			{{q["preparation-form"] |raw }}
		</div>
		<div class="active title">
			<i class="icon dropdown"></i>
			Test cases
		</div>
		<div class="active content">
			{{q["addTest"] | raw }}
			{{forms |raw }}
			<div id="forms">
			</div>
		</div>
	</div>
	<br>
	<div id="results"></div>
	<div id="graph"></div>
	{{q["btsTests"] | raw }}
	<div id="info"></div>
</div>

{{script_foot |raw }}